.outer{
    width: 308px;
    height: 308px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin:-154px 0 0 -154px;
}

.outer>div{
    border: 1px;
    width: 100px;
    height: 100px;
    float: left;
}

.top{
    /*blue*/
    background-color: #0000FF;
    box-shadow: 2px 2px 10px 2px #0000AA;
    margin: 0px 104px 4px 104px;
}

.right{
    /*red*/
    background-color: #FF0000;
    box-shadow: 2px 2px 10px 2px #AA0000;
}

.center{
    /*yellow*/
    background-color: #FFFF00;
    box-shadow: 2px 2px 10px 2px #BBBB00;
    text-align: center;
    line-height: 100px;

    margin-left: 4px;
    margin-right: 4px;
}

img{
    vertical-align: middle;
}

.left{
    /*red*/
    background-color: #FF0000;
    box-shadow: 2px 2px 10px 2px #AA0000;
}

.bottom{
    /*blue*/
    background-color: #0000FF;
    box-shadow: 2px 2px 10px 2px #0000AA;
    margin:4px 104px 0px 104px;
}