body {
    padding: 0px;
    margin: 0px;
    min-width: 1000px;
    height: 100%;
}

a.no-decoration {
    text-decoration: none;
}

.clearFloat:after {
    overflow: hidden;
    clear: both;
    display: block;
    content: "";
}

#header {
    position: relative;
}

/*位置，天气等信息*/
#header .nav-left {
    height: 36px;
    margin-left: 10px;
    position: relative;
}

#header .nav-left .pos-temp {
    width: 149px;
    /*background-color: #e8e8e8;*/
    float: left;
}

#header .nav-left .pos-temp span {
    color: #555;
    font-size: 14px;
    font-family: arial;
    line-height: 36px;
}

#header .nav-left .excellent {
    color: #38f !important;
    font-weight: bold;
}

/*hover“西安”,温度之后出现的下拉菜单*/
#header .nav-left .pos-temp .temp-dropDownList {
    position: absolute;
    width: 700px;
    /*height: 300px;*/
    background-color: #ffffff;
    top: 40px;
    left: -9px;
    display: none;
    padding: 0 10px;
    box-shadow: 3px 4px 9px #999;
}

#temp-dropDownList .date a {
    text-decoration: none;
}

#temp-dropDownList .date a span.seven-temp {
    color: #38f;
}

#temp-dropDownList .date a.setting {
    display: inline-block;
    float: right;
}

#temp-dropDownList .date a.setting .icon {
    color: #666;
    width: 46px;
    cursor: pointer;
    text-align: right;
    line-height: 38px;
    background: url("../images/setting.png") no-repeat -36px -88px;
    background-position: -36px -89px !important;
    display: block;
    /*background-color: #bc8f8f;*/
    height: 40px;
}

#temp-dropDownList .date a.setting:hover .icon {
    color: #38f;
    background: url("../images/setting.png") no-repeat -36px -88px;
    background-position: -36px -122px !important;
}

#every-mod .day {
    width: 120px;
    text-align: center;
    /*background-color: royalblue;*/
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#every-mod .day:hover p {
    color: #38f;
}

#every-mod .monday p {
    font-weight: bold;
}

#every-mod .day p {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
}

/*hover“西安”,温度之后出现的下拉菜单*/

ul.ul-noType,
ul.ul-noType li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.nav-left-others {
    float: left;
    /*background-color: #0dbc67;*/
}

ul.nav-left-others li {
    width: 36px;
}

ul.nav-left-others a {
    color: #555;
    font-size: 14px;
    font-family: arial;
    line-height: 36px;
}

ul.nav-left-others li {
    float: left;

}

/*糯米，新闻，hao123,地图，视频，贴吧等信息*/
#header .nav-right {
    height: 36px;
    width: 532px;
    /*background-color: #8a6d3b;*/
    position: absolute;
    top: 0;
    right: 0;
}

ul.nav-right-detail {
    background-color: #59bcb3;
}

ul.nav-right-detail li a {
    font-weight: bold;
    font-size: 15px;
    color: #555;
    line-height: 36px
}

ul.nav-right-detail li {
    float: left;
    padding: 0 8px;
}

/*更过产品*/
#header .nav-right li.more-product {
    background-color: #398bfb;
    z-index: 2;

}

#header .nav-right li.more-product a {
    color: #ffffff;
    text-decoration: none;
}

/*hover手机号码之后的显示*/
#header .nav-right .li-myProfile {
    position: relative;
}

#header .nav-right .li-myProfile:hover .myProfile {
    display: block;
}

#header .nav-right .myProfile {
    left: 13px !important;
}

/*hover"设置"之后的下来菜单*/
#header .nav-right .setting {
    position: relative;
}

#header .nav-right ul.setting-droplist {
    background-color: #ffffff;
    position: absolute;
    left: -17px;
    top: 36px;
    box-shadow: 0 0 11px #999;
    display: none;
    /*border:1px solid #999;*/
}

#header .nav-right .setting:hover .setting-droplist {
    display: block;
}

#header .nav-right ul.setting-droplist:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    left: 29px;
    top: -5px;
}

#header .nav-right ul.setting-droplist li {
    clear: both;
    height: 23px;
    font-weight: normal;
    /*width: 60px;*/
    text-align: center;
    padding: 0 4px;
}

#header .nav-right ul.setting-droplist li a:hover {
    background-color: #398bfb;
    color: #ffffff;
}

#header .nav-right ul.setting-droplist li a {
    font-weight: normal;
    text-decoration: none;
    line-height: 23px;
    width: 70px;
    display: block;
    /*background-color: rosybrown;*/
}

/*hover"设置"之后的下来菜单*/

/*高度全屏*/
html, body, #more-dropdownList {
    height: 100%;
}
/*hover更过产品之后的下来菜单*/
#more-dropdownList {
    /*delete*/
    margin-top: 20px;
    background-color: rgba(244, 244, 251, 1);
    font-size: 13px;
    width: 72px;
    text-align: center;
    position:relative;
    float:right;
    display: none;
    /*display: block;*/
    margin-top: -36px;
    z-index: 100;
    overflow: hidden;
}

#more-dropdownList li {
    border-bottom: #f0f0f0 1px solid;
}

#more-dropdownList li:nth-child(1) {
    height: 40px;
    line-height: 20px;
}

#more-dropdownList li:last-child {
    border-bottom: none;
}

#more-dropdownList a {
    text-decoration: none;
    height: 60px;
    padding-top: 10px;
    display: block;
}

#more-dropdownList a:hover {
    text-decoration: underline;
}

#more-dropdownList img {
    display: block;
    margin: 0 auto;
}

#more-dropdownList span {
    text-align: center;
    color: #666;
}

.line {
    border: 1px solid #f4f4f4;
}

/*、、、、、换肤、、、、*/
#changeSkin-outer {
    width: 100%;
    /*height: 300px;*/
    background-color: #ffffff;
    position: absolute;
    top: 0;
    display: none;
}

#changeSkin {
    width: 1000px;
    /*height: 300px;*/
    background-color: #7194bc;
    margin: 0 auto;

}

#changeSkin .hot-skin-outer {
    width: 600px;
    float: left;
    background-color: #a9a9a9;
}

#changeSkin-outer .skin-nav {
    width: 1000px;
    margin: 0 auto;
}

#changeSkin-outer .skin-nav ul {
    float: left;
}

/*不使用换肤*/
#changeSkin-outer .skin-nav .removeChange {
    float: left;
    margin-left: 454px;
}

#changeSkin-outer .skin-nav .removeChange .bgImg {
    background-position: -24px -176px;
    width: 14px;
    height: 13px;
    background-image: url('../images/skin_icon_82b6ef5b.png');
    display: inline-block;
    vertical-align: middle;
}

#changeSkin-outer .skin-nav .removeChange .info {
    color: #666;
    font-size: 13px;
    line-height: 42px;
    cursor: pointer;
}

/*不使用换肤*/

#changeSkin-outer .skin-nav .packUp {
    float: right;
    cursor: pointer;
}

#changeSkin-outer .skin-nav .packUp .bgImg {
    background: url('../images/skin_icon_82b6ef5b.png') no-repeat -44px -175px;
    width: 11px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

#changeSkin-outer .skin-nav .packUp .info {
    color: #0079f5;
    font-size: 13px;
    font-weight: normal;
    line-height: 42px;

}

#changeSkin-outer .skin-nav ul li {
    float: left;
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    padding: 0 8px;
    background-color: #d8d8d8;
    cursor: pointer;
    transition: all 0.6s linear;
}

#changeSkin-outer .skin-nav ul li:first-child {
    color: #fff;
    background-color: #398bfb;
}

#changeSkin-outer .skin-nav ul li:hover {
    color: #fff;
    background-color: #398bfb;
}

/*换肤中图片的显示*/
#changeSkin .hot-skin ul {
    width: 195px;
    float: left;
    margin-right: 2px;
}

#changeSkin .hot-skin ul.row1 li {
    background-color: royalblue;
}

#changeSkin .hot-skin ul.row1 li:first-child img,
#changeSkin .hot-skin ul.row3 li:last-child img {
    width: 195px;
    height: 119px;
    line-height: 119px;
}

#changeSkin .hot-skin ul.row1 li:nth-child(2) img,
#changeSkin .hot-skin ul.row1 li:nth-child(3) img {
    width: 97px;
    height: 59.5px;
    line-height: 119px;
    float: left;
}

#changeSkin .hot-skin ul.row1 li:nth-child(3) img {
    margin-left: 1px;
}

#changeSkin .hot-skin ul:nth-child(2) {
    width: 97.5px;
    float: left;
    margin-right: 2px;
}

/*换肤中第二列的图片*/
#changeSkin .hot-skin ul.row2 li img {
    width: 97px;
    height: 59.5px;
    line-height: 119px;
}

#changeSkin .hot-skin ul.row3 li:nth-child(1) img,
#changeSkin .hot-skin ul.row3 li:nth-child(2) img {
    width: 97px;
    height: 62px;
    line-height: 119px;
    float: left;
    margin-bottom: 3px;
}

#pre-overview {
    float: right;
}

#pre-overview #pre-overview-img {
    width: 264px;
    height: 180px;
    background-color: #d8d8d8;
    background-image: url("../images/skin_preview_05c7c9e3.png");
    background-position: -1095px -1078px;
}

/*<!--百度logo和输入框，按钮-->*/
#main-body {
    width: 1000px;
    margin: 0 auto;
    /*background-color: #bc8f8f;*/
    padding-top: 20px;
}

#main-body .logo-input .logo {
    background-image: url("../images/baidu.png");
    width: 270px;
    height: 129px;
    background-size: cover;
    margin: 0 auto;
}

/*输入框和点击按钮*/
#main-body .logo-input .input-btn {
    width: 623px;
    margin: 5px auto;
}

#main-body .logo-input .input-btn .input-text {
    width: 521px;
    height: 38px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    vertical-align: top;
    outline: none;
    box-shadow: none;
    float: left;
    box-sizing: border-box;
}

#main-body .logo-input .input-btn .input-sub {
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
    float: left;
    box-sizing: border-box;
    font-weight: bold;
}

#main-body .logo-input .input-btn .input-sub:hover {
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
}

/*输入框和点击按钮*/

/*<!--"我的关注"、"推荐"、"导航"、"视频"、"购物"-->*/
#content {
    width: 1000px;
    box-sizing: border-box;
    margin-top: 80px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    opacity: 0.9;
}

#content .content-nav {
    border-bottom: 1px solid #eeeeee;
}

#content .content-nav ul {
    float: left;
}

/*#content .content-nav ul li.icon{*/
/*display: inline-block;*/
/*margin: 11px 0 0 20px;*/
/*width: 20px;*/
/*height: 18px;*/
/*background: url("../images/card_setts_fdb17359.png") no-repeat -15px 0;*/
/*_background: url("../images/card_setts_fdb17359.png") no-repeat -15px 0;*/
/*}*/

#content .content-nav ul li {
    float: left;
    padding: 5px 20px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    color: #333;
    font-size: 18px;
    font-family: arial;
}

#content .content-nav ul li:nth-child(2) {
    background-color: #9a9da2;
    color: #ffffff;
}

#content .content-nav ul li:nth-child(2):hover {
    background-color: #9a9da2;
    color: #ffffff;
}

#content .content-nav ul li:hover {
    background-color: #afb2b8;
    color: #ffffff;
}

#content .content-nav .card {
    width: 18px;
    height: 18px;
    margin-top: 16px;
    margin-right: 10px;
    overflow: hidden;
    background: url("../images/card_setts_fdb17359.png") no-repeat -121px -49px;
    _background: url("../images/card_setts_fdb17359.png") no-repeat -121px -49px;
    float: right;
}

#content .myConcern {
    padding: 30px 20px;
    display: none;
}

#content .myConcern .myNav {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    cursor: pointer;
}

#content .myConcern .myNav span.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid #666;
    border-bottom: 6px solid transparent;
    margin-top: -4px;
}

#content .myConcern .myNav .info {
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

/*添加，返利模式，置顶*/
#content .myConcern .myNav .others {
    float: right;
    display: none;
}

#content .myConcern .myNav:hover .others {
    display: block;
}

#content .myConcern .myNav .others a {
    text-decoration: none;
    color: #333;
}

#content .myConcern .myNav .others a:hover {
    text-decoration: none;
    color: #38f;
}

#content .myConcern .myNav .others span.icon {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    margin-right: 7px;
    font-size: 0;
    background: url("../images/mine_set_818172e0.png") no-repeat -50px -13px;
    _background: url("../images/mine_set_818172e0.png") no-repeat -34px -12px;
}

#content .myConcern .myNav .others span.top {
    color: rgb(153, 153, 153);
}

/*点开我的导航之后显示的内容*/
#content .myNav-unfold {
    display: none;
    margin-top: 40px;
}

#content .myNav-unfold p {
    text-align: center;
    font-family: arial, "宋体", sans-serif;
}

/*自定义*/
#content .myDefine {
    width: 1000px;
    height: 500px;
    box-sizing: border-box;
    z-index: 111;
    margin-top: 20px;
}

#content .myDefine span.icon {
    display: inline-block;
    height: 12px;
    width: 12px;
    font-size: 0;
    background: url("../images/mine_set_818172e0.png") no-repeat 0 0;
}

#content .myDefine span {
    font-size: 16px;
    color: #333;
}

#footer {
    padding: 20px 0;
}

#footer .info {
    text-align: center;
}

#footer .info a:first-child {
    color: #000;
}

#footer .info span {
    display: inline-block;
    padding: 0 5px;
}

#footer .info span,
#footer .info a {
    color: #999;
}

/*回到顶部*/
#backToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    left: 90%;
    text-align: center;
    /*padding: 3px 0;*/
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    display: none;
    cursor: pointer;
}

#backToTop:hover span.info {
    display: block;
}

#backToTop span.info {
    z-index: 12;
    background-color: #ebebeb;
    position: absolute;
    left: 0;
    top: 0px;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#backToTop span.icon {
    background-image: url("../images/gototop.png");
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin-left: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
}

/*推荐*/
#recommend {
    width: 1000px;
    padding: 30px 20px;
    box-sizing: border-box;
    position:relative;
}

#recommend .left {
    width: 600px;
    /*height: 500px;*/
    /*background-color: #bc8f8f;*/
    float: left;
}

#recommend .left .new{
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
}

#recommend .left .info {
    width: 73%;
    /*height: 170px;*/
    /*background-color: #dddddd;*/
    float: left;
}

#recommend .left .info h2 a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-family: arial, 'Microsoft Yahei', '微软雅黑';
    font-size:18px;
}

#recommend .left .info h2 a:hover{
    color:#38f;
    text-decoration: underline;
}

#recommend .left .info p {
    margin-top: 52px;
}

#recommend .left .info p a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#recommend .left .info p span {
    display: inline-block;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px
}

#recommend .left div.img {
    width: 27%;
    /*height: 170px;*/
    /*background-color: #dddddd;*/
    float: left;
    box-sizing: border-box;
    padding-top:25px;
}

#recommend .left img{
    width: 100%;
}

#recommend .right {
    width: 360px;
    height: 500px;
    /* background-color: #ebebeb; */
    float: left;
    box-sizing: border-box;
    padding: 11px 0 0 23px;
    position: absolute;
    right: 0;
    top: 14px;
}

#recommend .right .title h2{
    /*font-size: 16px;*/
    font-size:14px;
    font-weight: bold;
    font-family: arial;
}

#recommend .right ul{
    float: left;
    /*background-color: #bc8f8f;*/
    margin-right: 42px;
}

#recommend .right ul li{
    font-size: 18px;
    font-family: arial;
    max-width: 156px;
    _width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 38px;
    line-height: 38px;
    /*background-color: #bc8f8f;*/
}

#recommend .right ul li a{
    color: #333;
    text-decoration: none;
    font-weight: 300;
    /*font-family:"Times New Roman",Georgia,Serif;*/
    font-size: 14px;
    font-family: arial;
}

#recommend .right ul li a:hover{
    color:#38f;
    text-decoration: underline;
}

#recommend .right ul li span{
    display: inline-block;
    height: 3px;
    width: 3px;
    background: #666;
    text-align: center;
    margin-right: 7px;
    font-size: 0;
    vertical-align: middle;
}

/*推荐*/

/*导航*/
#navigation {
    /*height: 400px;*/
    background-color: #ffffff;
    display: none;
    padding: 30px 20px;
}

#navigation .youLike h2{
    margin: 0px 0 7px;
    padding: 0;
    font-size: 18px;
    color:#000;
}

#navigation .youLike ul li{
    float: left;
    position: relative;
    box-sizing: border-box;
    margin-top: 15px;
}

#navigation .youLike ul li.after:after{
    content: "返";
    background-color: #ff6300;
    position: absolute;
    top:0;
    right: 0;
    padding: 3px;
    color:#ffffff;
}

#navigation .youLike ul li a{
    text-decoration: none;
    color:#333;
    height: 78px;
    width: 143px;
    background-color: #fcfcfc;
    text-align: center;
    margin-left: 14px;
    line-height: 78px;
    display: block;

    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navigation .youLike ul li:hover a.rebate{
    display: block;
}

#navigation .youLike ul li a.rebate{
    height: 24px;
    line-height: 24px;
    background-color: #ff6300;
    color:#ffffff;
    text-decoration: underline;
    position: absolute;
    top:54px;
    left:0;
    display: none;
    transition:background-color 1s linear;
}

#navigation .youLike ul li a.rebate:hover{
    background-color: #ff8300;
}

#navigation .youLike ul li a span{
    padding-left: 10px;
}

#navigation .consultInfomation h2{
    margin-top: 26px;
}

/*导航*/