<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>To do data</title>
	<!-- <link rel="stylesheet" href="stylesheets/basic.css"> -->
	<link rel="stylesheet" href="stylesheets/tododata.css">
</head>
<body>
	<!-- 数据库管理系统头部信息的显示 -->
	<div class="header">
		<h2>新闻数据库管理系统</h2>
	</div>
	<div class="line"></div>
	<div class="content-container clearFloat">
		<div class="nav float">
			<ul>
				<li class="test">增加新闻信息</li>
				<li class="test">显示新闻信息</li>
			</ul>
		</div>
		<div class="main-content float">
			<div class="container" id="insert">
				<form id="insert-data">
					<p><span>上传新闻类型：</span>
						<input type="radio" name='newstype' value='recommend' class='newsType' checked="">推荐
						<input type="radio" name='newstype' value='baijia' class='newsType'>百家
						<input type="radio" name='newstype' value='entertainment' class='newsType'>娱乐
						<input type="radio" name='newstype' value='social' class='newsType'>社会
					</p>
					<p><span>新闻标题：</span><input class="need" type="text" name="newstitle" placeholder="新闻标题" required=""></p>
					<p><span>新闻图片：</span><input type="text" name="newsimg" placeholder="新闻图片地址" required=""></p>
					<p>
						<span class="align-top">新闻内容：</span>
						<textarea class="align-top" name="newscontent" id="" cols="24" rows="10" placeholder="新闻内容,可以为空"></textarea>
					</p>
					<p><span>新闻来源：</span><input type="text" name='newsfrom' placeholder="新闻来源：网易新闻" required=""></p>
					<p><span>新闻时间：</span><input id="date" type="date" name='newstime' placeholder="新闻发生时间" required=""></p>
					<input type="submit" id='submit-data'><span id="status"></span>
				</form>
			</div>
			<div class="container show-data" id="show">
				<h3>显示信息</h3>			
				<table>
					<tr>
                        <th>新闻标题</th>
                        <th>新闻图片</th>
                        <th>新闻内容</th>
                        <th>新闻来源</th>
                        <th>新闻时间</th>                        
                    </tr>
				</table>
				<div id="contiuneLoad">
					继续加载
				</div>	
			</div>
		</div>
	</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script src='js/tododata.js'></script>
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<script src="js/three-jQuery/sea.js"></script>
	<script>
	    seajs.config({
	        base:"./js/",
	        alias:{
	            "jquery":"jquery/jquery/1.10.1/jquery.js"
	        }
	    });

	    // seajs.use("./js/tododata-main");
</script> -->

</body>
</html>