body{
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

.outer .calucatorOuter{
    width: 380px;
    height: 380px;
    margin: 150px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:3px dashed #000000;
}

.outer .calucatorOuter .title{
    width: 374px;
    height: 50px;
}

.outer .calucatorOuter h3{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.outer .calucatorOuter .calucator{
    width: 320px;
    height: 270px;
    border-top:10px solid #434343;
    border-left: 10px solid #6b6b6b;
    border-bottom: 10px solid #343434;
    border-right: 10px solid #494949;
    /*margin: 150px auto;*/
    margin-left:17px;
    background-color: #000000;
}

.outer .calucatorOuter .calucator table{
    width: 320px;
    height: 270px;
    border-collapse: collapse;
}


.outer .calucatorOuter .calucator table tr:nth-child(1) td{
    width: 300px;
    height: 50px;
    padding-left: 8px;
}

.outer .calucatorOuter .calucator table tr td input{
    width: 300px;
    height: 40px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 4px;
    font-size: 20px;
}

.outer .calucatorOuter .calucator table tr:nth-child(2) td,
.outer .calucatorOuter .calucator table tr:nth-child(3) td,
.outer .calucatorOuter .calucator table tr:nth-child(4) td,
.outer .calucatorOuter .calucator table tr:nth-child(5) td{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 51px;
    height: 40px;
}


.outer .calucatorOuter .calucator table tr:nth-child(4) td:nth-child(5) button{
    width: 48px;
    height: 40px;
    margin:0 auto;
    display: block;
    background-color: #e3e3e3;
    font-weight: bold;
}

.outer .calucatorOuter .calucator table tr:nth-child(2) td button,
.outer .calucatorOuter .calucator table tr:nth-child(3) td button,
.outer .calucatorOuter .calucator table tr:nth-child(4) td button,
.outer .calucatorOuter .calucator table tr:nth-child(5) td button
{
    width: 48px;
    height: 38px;
    margin:0 auto;
    display: block;
    background-color: #e3e3e3;
    font-size: 20px;
    cursor:pointer;
}